alias xx='exit'
alias grep='grep --color=auto'
alias fgrep='fgrep --color=auto'
alias egrep='egrep --color=auto'
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -alh'
alias rm='rm -iv'
alias cc=' clear'
alias xx='exit 0'
alias spt='sudo apt update'
alias spg='sudo apt upgrade'
alias hh='HISTFILE='
alias hist='history -E'
alias drivesyncpushall='rclone sync ~/Documents/driveSync/ remote:linuxSync/ -LPv'
alias drivesyncpullall='rclone sync remote:linuxSync/ ~/Documents/driveSync/ -LPv'
alias drivecopypushalll='rclone copy ~/Documents/driveSync/ remote:linuxSync/ -LPv'
alias loadxresources='xrdb -merge  ~/.Xresources'
alias opn='xdg-open'
alias jnb='jupyter-notebook'
alias jcolab='jupyter notebook --NotebookApp.allow_origin="https://colab.research.google.com" --no-browser'
alias py='python3'
alias dstat='dstat -cmsdn'
alias mountphone='sshfs phone:/sdcard/. ~/mount'
alias battery='cat /sys/class/power_supply/BAT1/capacity'
alias resetSwap='sudo swapoff -a && sudo swapon -a '


# temporary uses
alias sqlstart='mysql -h 127.0.0.1 -P 5005 -u root -p '

